$font: 'Open Sans', sans-serif;
$font-os: 'Open Sans', sans-serif;
$font-lt: 'Open Sans', sans-serif;
$donker: #18313a;

$org: #f39325;
$blue: #005578;

$red: #df3344;
$purple: #7e3b78;
$blue: #4FB3D5;

 